@charset "UTF-8";
h1 {
	text-align:center;
}
#launch {
    text-align:center;
}
#launch p {
    text-align:center;
}
.homePage {
    display:inline-block;
}
.examplePage {
    text-align:center;
}
.examplePage div {
    display:inline-block;
}
.examplePage p:first-child {
    font-size:19px;
    text-align:center;
    color:#000;
    text-shadow: 1px 1px #444, -1px -1px white;
}
.examplePage li {
    text-align:center;
}
.longText p {
    white-space:normal;
    font-size:16px;
    
}
body {
    background-color:#dddddd;
}
.examplePage ul {
    width: 280px;
}
.longText span {
    color:red;
    display:block;
}